@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #61876E;
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: antiquewhite;
  font-size: 46px;
  font-family: 'Permanent Marker', cursive;
}

.subtitulo {
  color: white;
  font-size: 32px;
}

.tarjetas,
.tarjetas-ataques {
  display: flex;
  gap: 10px;
}

.tarjeta-de-mokepon {
  width: 180px;
  height: 100px;
  background: #EAE7B1;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
  border: 1px solid hotpink;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
}


.tarjeta-de-mokepon img {
  width: 76px;
}

#boton-mascota {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background: #EAE7B1;
  border: 1px solid white;
  color: green;
  font-family: 'Poppins', sans-serif;
  margin-top: 30px;


}


input {
  display: none;
}

input:checked +  label{
  background-color: #FEC868;
}

#seleccionar-ataque {
  flex-direction: column;
  align-items: center;
}

.boton-de-ataque {
  background: #EAE7B1;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
  border: 1px solid transparent;
  border-radius: 20px;
  width: 100px;
  color: green;
  font-family: 'Poppins', sans-serif;
}

#mensajes {
  width: 280px;
  background: #FEC868;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  color: green;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  flex-direction: column;
}

#boton-reiniciar {
  border: none;
  color: green;
  font-family: 'Poppins', sans-serif;
}

.ataques {
  display: grid;
  grid-template-columns: 100px 100px;
}

#vidas-jugador,
#vidas-enemigo {
  font-size: 32px;
  margin-top: 0;
}

.ataques-jugador,
.ataques-enemigo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(max-width: 360px) {

  .tarjetas,
  .tarjetas-ataques {
    flex-direction: column;
  }
}