
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  font-family: 'Fredoka One', cursive;
  background-color: #61876E;
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: white;
  font-size: 42px;
  }

.subtitulo{
  color: white;
  font-size: 32px;
}

.tarjetas{
  display: flex;
  gap : 10px;
}

.tarjeta-de-mokepon {
  width: 180px;
  height: 100px;
  background: #EAE7B1;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
  border: 1px solid hotpink;
  border-radius:20px;
  display: flex;
  color: white;
}

.tarjeta-de-mokepon img {
  width: 76px;
}

input {
  display: none;
}